@import "../_variables.css";

#how-to-buy-page {
  color: var(--mainColor);
  p {
    padding-top: 5px;
    line-height: 1.7;
    font-weight: 300;
  }
  .step {
    margin-bottom: 10px;
    text-align: center;
    .icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin: 0 auto 20px;
      background-color: var(--mainColor);
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #fff;
        font-size: 32px;
      }
    }
    h3 {
      color: var(--mainColor);
      font-family: 'Mitr';
      font-weight: 400;
    }
  }
  .contact-box {
    margin-top: 30px;
    border: 3px solid var(--mainColor);
    padding: 20px;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Mitr';
  }
  .color-bg {
    background-color: #edf4ff;
  }
  .btn-link {
    p {
      margin-bottom: 0;
    }
  }
  .condition {
    li {
      font-weight: 300;
      margin-bottom: 12px;
      color: #555;
    }
  }
  .step-detail {
    padding-top: 50px;
    padding-bottom: 50px;
    img {
      height: 175px;
      object-fit: cover;
      @media (--sm) {
        height: auto;
      }
    }
    .text {
      background-color: #fff;
      padding: 50px 5%;
    }
    .button {
      background-color: var(--accentColor1);
      color: #fff;
      font-family: 'Mitr';
      text-decoration: none;
    }
    .btn {
      margin-top: 25px;
      font-family: 'Mitr';
    }
    .items {
      .material-icons {
        flex-basis: 30px;
        margin-right: 5px;
        color: var(--mainColor);
        font-size: 20px;
        padding-top: 1px;
      }
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        p {
          font-weight: 300;
          flex: 1;
          margin-bottom: 0;
          font-size: 17px;
          color: #555;
        }
      }
    }
    .social {
      padding: 5px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover p {
        text-decoration: none !important;
        color: var(--mainColor);
      }
      p {
        margin: 0;
        text-decoration: none !important;
        padding-left: 10px;
      }
      .material-icons {
        font-size: 42px;
      }
      .fa {
        font-size: 45px;
      }
      .fa-facebook-official {
        color: #3b5998;
      }
      .fa-instagram {
        color: #fd1d1d;
      }
    }
  }
}