@import "../_variables.css";

#how-to-buy-page {
  font-family: 'Mitr';
  color: var(--mainColor);
  h1 {
    padding-top: 50px;
  }
  p {
    padding-top: 5px;
    line-height: 1.7;
    font-weight: 300;
  }
  .step {
    margin-bottom: 10px;
    text-align: center;
    .icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin: 0 auto 20px;
      background-color: var(--mainColor);
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #fff;
        font-size: 32px;
      }
    }
    h2 {
      color: var(--mainColor);
      font-family: 'Mitr';
    }
  }
  .contact-box {
    margin-top: 30px;
    border: 3px solid var(--mainColor);
    padding: 20px;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
  }
}