@import "../_variables.css";

.banner {
  background-image: url('/static/main-banner.jpg');
  background-size: cover;
  background-position: 50% center;
  position: relative;
  height: 516px;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    text-align: center;
  }
  .h-eng {
    display: inline-block;
    color: var(--mainColor);
    font-family: 'Mitr';
    font-weight: 500;
    margin: 0 0 20px;
  }
  .h-th {
    color: var(--mainColor);
    font-family: 'Mitr';
    font-weight: 300;
    margin: 0 0 10px;
    font-size: 18px;
  }
}

.keys {
  padding-top: 40px;
  padding-bottom: 30px;
  .box {
    margin-bottom: 10px;
    padding: 0 5%;
    text-align: center;
    .icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin: 0 auto 20px;
      background-color: var(--mainColor);
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #fff;
        font-size: 32px;
      }
    }
    h2 {
      color: var(--mainColor);
      font-family: 'Mitr';
    }
  }
}
.problem {
  background-color: var(--mainColor);
  border-top: 2px solid var(--mainDarkenColor);
  border-bottom: 2px solid var(--mainDarkenColor);
  .box {
    text-align: center;
    color: #fff;
    font-family: 'Mitr';
    font-weight: 300;
    font-size: 18px;
    padding: 0 10px 10px;
  }
}


.info-final {
  padding: 0 0 20px;;
  color: var(--mainColor);
  p {
    font-weight: 300;
  }
  .contact {
    border: 3px solid var(--mainColor);
    padding: 12px 15px;
    margin-bottom: 20px;
  }
}
.review {
  padding: 50px 0 60px;
  text-align: center;
  .h-eng {
    color: var(--mainColor);
    font-family: 'Mitr';
    font-weight: 500;
  }
  .h-th {
    color: var(--mainColor);
    font-family: 'Mitr';
    font-weight: 300;
    margin: 0 0 30px;
    font-size: 18px;
  }
}
.menu-month {
  background-image: url('/static/in-da-box.jpg');
  background-size: cover;
  .box {
    padding: 50px 0 45px;
    background-color: rgba(255, 255, 255, 1);
    @media (--sm) {
      padding: 70px 0 65px;
    }
    h2 {
      padding: 0 10px;
      text-align: center;
      font-family: 'Mitr';
      font-weight: 400;
      color: var(--mainColor);
      margin-bottom: 30px;
    }
  }
  .items {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 5%;
    .material-icons {
      flex-basis: 30px;
      margin-right: 5px;
      color: var(--mainColor);
      font-size: 20px;
      padding-top: 1px;
    }
    .item {
      display: flex;
      p {
        font-family: 'Mitr';
        font-weight: 300;
        flex: 1;
        margin-bottom: 10px;
      }
    }
  }
  .btn {
    background-color: var(--accentColor1);
    color: #fff;
    font-family: 'Mitr';
  }
}

.cta {
  padding: 120px 0 119px;
  background-image: url('/static/cta-landing.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  .btn {
    background-color: var(--mainColor);
    color: #fff;
  }
  h3 {
    color: #444;
  }
}