@import "../_variables.css";

#menu-page {
  .header {
    background-image: url('/static/menu-month.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .overlay {
      background-color: rgba(255, 255, 255, 0.75);
      background: linear-gradient(#ffffff50, #fff);
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
      h1, h3 {
        
        font-family: 'Mitr';
        color: var(--mainColor);
      }
      h3 {
        font-weight: 400;
      }
    }
  }
  .menus {
    padding-top: 30px;
    padding-bottom: 30px;
    .box {
      // max-width: 315px;
      padding: 0 5px;
      margin-bottom: 30px;
    }
  }
}