@import '../_variables.css';

#menu-page {
  hr {
    margin: 50px 0 39px;
    &.small {
      margin: 15px 0 14px;
    }
  }
  .mobile-image {
    width: 100%;
    margin-bottom: 30px;
  }
  .price {
    padding-bottom: 20px;
  }
  .header {
    @media (--sm) {
      padding-top: 80px;
    }
    h1 {
      color: var(--mainColor);
      font-weight: 400;
      font-size: 40px;
      margin: 0;
      text-align: center;
    }
    h4 {
      margin: 10px 0 0;
      font-weight: 400;
      color: #00000070;
      text-align: center;
    }
  }
  .contact {
    margin: 30px 0 0;
    display: inline-block;
    border: 3px solid var(--mainColor);
    color: var(--mainColor);
    padding: 12px 15px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Mitr';
  }
  .description {
    justify-content: center;
    padding-top: 5px;
    font-weight: 300;
    color: #444;
    line-height: 2;
    margin-bottom: 20px;
    text-align: center;
  }
  .attrs {
    padding: 20px 0 0;
    margin: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .attr {
    font-family: 'Mitr';
    text-align: center;
    color: var(--mainColor);
    margin-bottom: 15px;
    .material-icons {
      font-size: 30px;
    }
    p, h3 {
      margin: 5px 0 4px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
    }
  }
  .ingredients {
    margin-bottom: 30px;
  }
  .ingreds-name {
    font-family: 'Mitr';
    font-size: 17px;
    margin: 0 0 18px;
    font-weight: 400;
    color: var(--mainColor);
  }
  .ingreds-amount {
    font-family: 'Mitr';
    font-size: 15px;
    margin: 0 0 18px;
    font-weight: 300;
  }
  .ingreds-label {
    font-size: 13px;
    color: #999;
    text-align: center;
  }
  .instructions {
    h2 {
      margin-bottom: 30px;
    }
    h4 {
      margin-bottom: 15px;
    }
    p {
      font-weight: 300;
    }
  }
  .step {
    margin-bottom: 50px;
  }
  .step-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .kitchen-item-header {
    margin-bottom: 30px;
  }
  .kitchen-item {
    display: inline-block;
    padding: 12px 15px 10px;
    margin-right: 20px;
    background-color: var(--lightBlueColor);
    color: var(--mainColor);
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Mitr';
    font-weight: 300;
    margin-bottom: 15px;
  }
  .checkbox {
    transform: scale(1.01);
    margin-right: 15px;
    cursor: pointer;
  }
  .unit {
    min-width: 75px;
  }
}