#nav {
  position: fixed;
  top: 0;
  left: 50;
  height: 80px;
  background-color: rgba(255, 255, 255, .95);
  width: 100%;
  // border-bottom: 1px solid #ddd;
  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
  }
  .button {
    color: red;
    font-family: 'Mitr';
  }
}
.spacer {
  height: 80px;
}