@import "../_variables.css";

.food-card {
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow .2s ease;
  &:hover {
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }
  .image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .content {
    padding: 10px 8% 15px;
    h2 {
      margin: 0 0 10px;
      font-size: 24px;
      font-weight: 400;
      font-family: 'Mitr';
      color: var(--mainColor);
    }
    h6 {
      margin: 0;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      color: #999;
    }
    .item {
      display: inline-block;
      padding: 7px 10px 5px;
      margin-right: 10px;
      background-color: var(--lightBlueColor);
      color: var(--mainColor);
      border-radius: 5px;
      font-size: 10px;
    }
  }
  .material-icons {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 3px;
  }
}