@import "../_variables.css";

#nav {
  position: fixed;
  z-index: 999;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, .09);
  .logo {
    margin-right: 20px;
    cursor: pointer;
  }
  .button {
    font-size: 13px;
    @media (--sm) {
      font-size: 16px;
    }
  }
}

#footer {
  border-top: 1px solid #00000010;
  padding: 40px 20px;
  font-family: Arial, Helvetica, sans-serif;
  @media (--sm) {
    padding: 40px 0;
  }
  .logo {
    width: 80px;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--mainColor);
    margin-bottom: 10px;
    margin-top: 10px;
  }
  p {
    line-height: 1.5;
    font-size: 13px;
    color: #555;
  }
  .fa {
    font-size: 32px;
  }
  .fa-instagram {

  }
  .img-wrapper {
    vertical-align: top;
    display: inline-block;
  }
  .links {
    padding: 10px 0 0;
    a {
      text-decoration: none;
      display: block;
      cursor: pointer;
      margin-bottom: 12px;
      font-size: 15px;
      font-family: 'Mitr';
      color: var(--mainColor);
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .social {
    padding: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover p {
      text-decoration: none !important;
      color: var(--mainColor);
    }
    p {
      margin: 0;
      text-decoration: none !important;
      padding-left: 10px;
    }
    .fa {
      font-size: 45px;
    }
    .fa-facebook-official {
      color: #3b5998;
    }
    .fa-instagram {
      color: #fd1d1d;
    }
  }
}

.spacer {
  height: 75px;
}

div {
  box-sizing: border-box;
}
.button {
  display: inline-block;
  margin: 0 10px;
  color: var(--mainColor);
  font-family: 'Mitr';
  text-decoration: none;
  cursor: pointer;
  .material-icons {
    vertical-align: middle;
    margin-right: 5px;
  }
}
.button:hover {
  color: var(--mainDarkenColor);
  text-decoration: underline;
}
.button.accent {
  color: #fff;
  padding: 7px 15px;
  border-radius: var(--buttonRadius);
  background-color: var(--accentColor1);
  // border: 1px solid var(--accentHeavyColor1);
}
.button.accent:hover {
  text-decoration: none;
  background-color: var(--accentDarkenColor1);
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.white-bg {
  background-color: #fff;
}