:root {
  --mainColor: #11346B;
  --mainDarkenColor: color(#11346B blackness(+ 5%));
  --accentColor1: #FF7E0B;
  --accentDarkenColor1: color(#FF7E0B blackness(+ 5%));
  --accentHeavyColor1: #EB3D00;
  --accentColor2: #007D68;
  --buttonRadius: 10px;
  @custom-media --sm (min-width: 48em);
  @custom-media --md (min-width: 64em);
  @custom-media --lg (min-width: 75em);
}