:root {
  --mainColor: #11346B;
  --mainDarkenColor: color(#11346B blackness(+ 5%));
  --accentColor1: #FF7E0B;
  --accentDarkenColor1: color(#FF7E0B blackness(+ 5%));
  --accentHeavyColor1: #EB3D00;
  --accentColor2: #007D68;
  --buttonRadius: 10px;
}